@if (seat) {
  @if (seatSvgContent !== "") {
    <div
      (click)="setSeat()"
      [innerHtml]="seatSvgContent"
      [style.fill]="color"
      class="svg-container mx-1 my-3 w-5"
    ></div>
  } @else if (seat.type.name !== seatTypeEnum.SEAT_BLANK) {
    <div (click)="setSeat()" class="seat mx-1 my-3">
      <fa-icon
        [icon]="chairSvg"
        primaryColor="green"
        size="xl"
        class="chair-icon"
        [style.color]="color"
      ></fa-icon>
    </div>
  } @else {
    <div class="seat mx-1 my-3 opacity-0">
      <fa-icon class=" " [icon]="chairSvg" size="xl"></fa-icon>
    </div>
  }
}
